@use './Variables' as *;

@font-face {
  font-family: Founders_Grotesk;
  src: url('../fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf');
}

@font-face {
  font-family: Cubano;
  src: url('../fonts/Cubano-Font-Family/Cubano.ttf');
}

.blog_body {
  height: 52vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  .blog_post:nth-child(odd) {
    background-color: $grey;
  }

  .blog_post:nth-child(even) {
    background-color: $hatforeground;
  }

  .blog_post {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 12px;
    padding: 2rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
    display: none;

    box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, 0.19);

    & * {
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      pointer-events: none;
    }
  }

  .blog_post_title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    font-family: Cubano;
  }

  .blog_post_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & * {
      font-family: Cubano;
    }
  }

  p {
    font-size: 1.3rem;
    font-family: Founders_Grotesk;
  }

  .point_circle {
    font-size: 0.6rem;
  }

  .content {
    display: none;
  }

  &[hide] {
    animation: fade-out 2s forwards;

    .blog_post {
      opacity: 0;
    }

    .blog_post[target] {
      opacity: 1;
    }
  }

  &[show] {
    animation: fade-in 2s forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @media (max-width: 450px) {
    .blog_post_title {
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

.footer {
  position: absolute;
  bottom: -30%;
}
