@font-face {
  font-family: Cubano;
  src: url('../fonts/Cubano-Font-Family/Cubano.ttf');
}

.section2 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  scroll-behavior: smooth;
  font-family: Cubano;

  .text {
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 0;
    width: 80%;
  }

  .fireText {
    opacity: 0;
  }

  .secondText {
    top: 50%;
  }

  @media (max-width: 620px) {
    .text {
      font-size: 2rem;
    }
  }
  @media (max-width: 400px) {
    .text {
      font-size: 1.6rem;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  img {
    position: absolute;
  }
}

.section2_browsers {
  width: 100%;
  height: 21rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  overflow-y: auto;
  background-color: #212336;
  z-index: 5;

  @media (max-width: 768px) {
    transform: scale(0.85);
    width: 142%;
  }
  @media (max-width: 620px) {
    transform: scale(0.5);
    width: 272%;
  }
  @media (max-width: 400px) {
    transform: scale(0.3);
    width: 500%;
  }
}

.second_browser {
  width: 28rem;
  height: 18rem;
  position: relative;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #505581 !important;
  transition: all 0.5s ease;
}

.first_browser {
  position: relative;
  width: 28rem;
  height: 18rem;
  border-radius: 12px;
  overflow: visible;
  border-radius: 10px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #343854;

  * {
    font-family: Cubano;
  }

  .dashboard {
    width: 8rem;
    height: 100%;
    padding: 6px;
    padding-top: 14px;
    background-color: rgb(24, 25, 38);
    transition: opacity 0.5s ease-in-out;

    h5 {
      font-size: 14px;
    }

    span {
      font-size: 20px;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 1rem;
      padding: 5px;
      font-size: 12px;
    }

    li {
      width: 100%;
      border-radius: 3px;
      padding: 2px;
    }

    li:nth-child(5) {
      background-color: coral;
    }
  }

  .charts_container {
    flex: 3;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;

    img {
      height: auto;
      height: 6rem;
    }

    & div:nth-child(1) img:last-child {
      height: 7.02rem;
    }

    & div:nth-child(2) img {
      height: 14.5rem;
    }

    div {
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.exploder {
  position: absolute;
  top: -85%;
  left: -45%;
  z-index: 50;
}

.firebtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  cursor: pointer;
}

.explod {
  opacity: 0;
}

.html * {
  white-space: pre-wrap;
}

.css * {
  white-space: pre-wrap;
}

// just make a new commit
