.container {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;

  .editors_container {
    width: 25rem;
    height: 100%;
    border-radius: 12px;
    background-color: #1e1e1e;
    overflow: hidden;
  }

  div:nth-child(1) {
    width: 100%;
    height: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 3px 7px;
    gap: 10px;
    background-color: inherit;
  }
  div:nth-child(2) {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    background-color: #444;
  }
  div:nth-child(3) {
    width: 100%;
    height: auto;
    background-color: inherit;
    white-space: pre;
  }

  // Mac buttons
  div:nth-child(1) p:nth-child(1) {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellow;
  }
  div:nth-child(1) p:nth-child(2) {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
  }
  div:nth-child(1) p:nth-child(3) {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
  }
}
