@font-face {
  font-family: Founders_Grotesk;
  src: url('../fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf');
}
@font-face {
  font-family: Cubano;
  src: url('../fonts/Cubano-Font-Family/Cubano.ttf');
}
@font-face {
  font-family: Sofia_pro;
  src: url('../fonts/sofia-pro-cdnfonts/Sofia\ Pro\ Regular\ Az.otf');
}
