/* resets */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
nav,
output,
section,
time,
mark,
audio,
video,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  /* inherits the browser's font properties: font-size 16px */
  font: inherit;
  /*inherits the font family and color that i want*/
  font-family: Arial, serif;
  color: #f5eded;
  /*  specifies the vertical alignment of an inline element */
  vertical-align: baseline;

  box-sizing: border-box;

  /*  specifies the height of line boxes within the element. */
  line-height: 1;

  border-radius: 0;

  /* no outline around anything */
  outline: none;
}

html,
body {
  width: 100%;
}

ol,
ul {
  /* no bullets in lists */
  list-style: none;
}

a {
  /* no underline */
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

blockquote,
q {
  /* no quotes */
  quotes: none;
}

table {
  /* no spacing between cells*/
  border-spacing: 0;
  /*borders are collapsed - adjacent table cells share borders */
  border-collapse: collapse;
}

input,
select,
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg {
  width: 1.9em;
  height: 1.9em;
  fill: currentColor;
}

/* global styles */
@font-face {
  font-family: 'Founders-Grotesk';
  src: url(../fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Founders-Grotesk';
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #212336;
  color: #fff;
  scroll-behavior: smooth;
  padding-bottom: 5rem;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #212336;
}

body::-webkit-scrollbar-thumb {
  background-color: #414666;
}

.current-values {
  color: #666;
  font-size: 12px;
}
