.container {
  width: 100px;
  height: 100px;
  position: relative;
  top: -100%;
  left: 0;
  border-radius: 24px;
  background-color: rgb(255, 150, 85);
  transform: scale(0.5);

  canvas {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) scaleX(0.8);
    z-index: 2;
  }

  .hat1,
  .hat2,
  .hat3 {
    width: 7rem;
    height: 2.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    & * {
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }

  .hat1 {
    width: 5rem;
    bottom: 41%;
    left: 49%;
    z-index: 1;
  }

  .hat3 {
    bottom: 18%;
    z-index: 3;
  }

  .hat2 {
    width: 3.2rem;
    height: 3.6rem;
    bottom: 25%;
    z-index: 4;
  }
}
